

/*
#5B8BFF
#E6E8E6
#D81E5B
*/

/* Global styles
--------------------------------*/

img {
  width: 300px;
}
body {
  background: #FFF;
  color: #303030;
  font-family: sans-serif;
}
a {
  color: #5B8BFF;
}
a:hover {
  text-decoration: none;
}
/* profile
--------------------------------*/
header{
  background-color: #5B8BFF;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}


/* Projects
--------------------------------*/
.projects{
  background: #E6E8E6;
}
.projects .btn {
  color: #E6E8E6;
  background: #2F3061;
  padding: 8px;
  border-radius: 4px;

}

.projects .btn:hover {
  background: rgba(47,48, 97, 80%);
}
/* Work Experience
--------------------------------*/
.work-experience{
  background: #A1C6D7;
}

/* Education
--------------------------------*/

/*
-------------------------------------*/
footer {
  background: #343434;
}
