

/*
#5B8BFF
#E6E8E6
#D81E5B
*/

/* Global styles
--------------------------------*/

img {
  width: 300px;
}
body {
  background: #FFF;
  color: #303030;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #5B8BFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* profile
--------------------------------*/
header{
  background-color: #5B8BFF;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 80px;
  line-height: 1;
}
h2 {
  font-size: 40px
}
h1, h2 {
  font-family: 'Neucha', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  width: 600px;
  margin: 0 auto;
  padding: 60px 0;
}


/* Projects
--------------------------------*/
.projects{
  background: #E6E8E6;
}
.projects .btn {
  color: #E6E8E6;
  background: #2F3061;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(47,48, 97, 80%);
}

.project-item h3 {
  margin-top: 0;
}
/* Work Experience
--------------------------------*/
.work-experience{
  background: #A1C6D7;
}
.project-item{
  overflow: hidden;
  /*border-bottom: 1px dashed #343434;*/
}

.project-item img{
    float: left;
    margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}

/* Education
--------------------------------*/

/*
-------------------------------------*/
footer {
  background: #CCC;
}
